

.common-bg{
	background-color: #777777;
    padding-top: 65px;
    padding-bottom: 94px;
    margin-bottom: 30px;
    color: #fff;
}


  .col_3{
  margin-bottom: 30px;
  }


  .heading{
  	font-weight: 500;

  }

  .divider{
  	margin: 82px;
  }

  